extends layout 

block content
	div#canary Hi I am the Canary Islands
	p You have landed at Magellan's second stop, the Canary Islands.
	a(href= '/capeverde') 
		button#button(type= 'button') Next Stop: Cape Verde. 