extends layout 

block content
	div#capeVerde Hi I am Cape Verde
	p You have landed at Magellan's third stop, Cape Verde.
	a(href= '/straitMagellan') 
		button#button(type= 'button') Click here to move to Magellan's next destination, Strait of Magellan. 