extends layout

block content
	div#journey	
		h1 Magellans Journey
		img#map(src= 'http://09explorationperiod2.pbworks.com/f/1255043643/JS%20FM%20route%20map004.jpg')
	div#journey2
		h1#location You have landed in #{location}
		h2#description A little more about this location: #{description}
		h5#button Click below to move to the next location:
		a#go.btn.btn-primary.btn-large #{nextLocation}
