	div#canary Hi I am the Canary Islands
		p You have landed at Magellan's second stop, the Canary Islands.
		a#capeverde(href= '/capeverde') 
			button#button2(type= 'button') Next Stop: Cape Verde.
	div#capeVerde Hi I am Cape Verde
		p You have landed at Magellan's third stop, Cape Verde.
		a#straitMagellan(href= '/straitMagellan') 
			button#button3(type= 'button') Click here to move to Magellan's next destination, Strait of Magellan.
	div#magellan Hi I am the Strait of Magellan 
		a#guam(href= '/guam') 
			button#button4(type= 'button') Click here to move to Magellan's next destination, Guam. 
	div#guam Hi I am Guam!
		a#philippines(href= '/philippines') 
			button#button5(type= 'button') Click here to move to Magellan's last stop, the Philippines.
	div#philippines You've made it to Magellan's last stop - the Philippines.